@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 05 - Madison Hoyt";
    ViewData["H1"] = "Maddy Hoyt";
    ViewData["H2"] = "Will Rock Your Socks Off";
    ViewData["Button"] = "Learn More";
    ViewData["ScrollButton"] = "#scroll";
}
<!--Author: Madison Hoyt
    Description: Mission 05 assignment changing mission 04 to MVC structure and using validation in the calculator

    Note: Where I add things based on the directions, I add *************
 -->

<!--<a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>-->
<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">

                <!--*************-->
                <!--Image of me and my friends-->
                <div class="p-5"><img class="img-fluid rounded-circle" src="img/IMG_4202.jpg" style="width:470px" alt="..." /></div>

            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Spending Time with Friends</h2>
                    <p>I love spending time with friends. I love getting different people together and creating an environment that everyone feels welcomed in. I love to make people laugh and see the good in life.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section id="learn">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="img/Untitled design (1).png" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">

                    <!--*************-->
                    <!--What I hope to get out of IS 413-->
                    <h2 class="display-4">What I Want to Learn</h2>
                    <ul>
                        <li>How to program in C#</li>
                        <li>How to make more functional websites</li>
                        <li>Understand MVC better</li>
                    </ul>
                    <br />
                    <p>During IS 413, I want to become a better programmer. I enjoy making websites and am exciting to improve my abilities and learn new ways of making websites. I am especially wanting to learn how to make websites </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section id="jobs">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="img/Untitled design (2).png" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">

                    <!--*************-->
                    <!--What jobs I am interested in-->
                    <h2 class="display-4">Jobs I Want</h2>
                    <ul>
                        <li>Web Developer</li>
                        <li>Data Analyst</li>
                        <li>Software Developer</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
